<h1>Log in</h1>
<% if current_user %>
  <p>You have logged in as <%= current_user.username %></p>
  <p>You can <%= link_to 'logout', logout_path %> or <%= link_to 'tweets', posts_path %></p>
<% else %>
  <%= form_tag sessions_path do |form| %>
    <div class='field'>
      <%= label_tag :username %>
      <%= text_field_tag :username %>
    </div>
    <div class= 'field'>
      <%= label_tag :email %>
      <%= text_field_tag :email %>
    </div>
    <div class = 'field'>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div class = 'actions'>
      <%= submit_tag 'Log in' %>
    </div>
  <% end %>
  <%= link_to 'back', root_url %>
  <%= link_to 'signup', signup_path %>
<% end %>
